{% load static %}
<!-- Favicon -->
<link rel="apple-touch-icon" sizes="120x120" href="{% static 'static/assets/favico/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'static/assets/favico/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'static/assets/favico/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'static/assets/favico/site.webmanifest' %}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

<!-- Fontawesome -->
<link type="text/css" href="{% static 'static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css' %}" rel="stylesheet">

<!-- Glide JS -->
<link rel="stylesheet" href="{% static 'static/assets/vendor/@glidejs/glide/dist/css/glide.core.min.css' %}">
<link rel="stylesheet" href="{% static 'static/assets/vendor/@glidejs/glide/dist/css/glide.theme.min.css' %}">

<!-- Pixel CSS -->
<link type="text/css" href="{% static 'static/assets/css/pixel.css' %}" rel="stylesheet">